@import "_main-menu.css";

* {
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
display: block;
}
body{
	font: 12px/18px "OpenSansRegular", sans-serif;
	height: 100%;
}
header{
	position: relative;
}
.wrapper{
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}
.pull-bottom{
	position: absolute;
	bottom: 0;
}
/* header---------------*/
.header{
	height: 150px;
	padding: 40px 0 31px;
}
/* middle--------------*/
.middle{
	width: 100%;
	padding: 0 0 100px;
	position: relative;
	width: 1170px;
	margin: 0 auto;
}
.middle:after{
	display: table;
	clear: both;
	content: '';
}
.content{
	padding: 20px 20px 20px 230px;
}
.content h1{
	padding-bottom: 15px;
}
.content p{
	text-align: justify;
	text-indent: 25px;
}
/* left sidebar----*/
.left-sidebar{
	float: left;
	width: 210px;
}